@page
@using HomeService.Domain.Core.Contracts.AppService.BaseEntities
@using HomeService.Domain.Core.Contracts.AppService.Categories
@model HomeService.Endpoint.Razor.Pages.Users.ProfileModel
@{
    ViewData["Title"] = "پروفایل من";
}
@inject ICityAppService _CityAppService
@inject ISubServiceAppService _SubserviceAppService
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
    <hr />
    TempData["ErrorMessage"] = null;
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
    <hr />
    TempData["SuccessMessage"] = null;
}
<script>

    setTimeout(function () {
    var successMessage = document.getElementById("successMessage");
    var errorMessage = document.getElementById("errorMessage");

    if (successMessage) {
    successMessage.style.transition = "opacity 0.5s";
    successMessage.style.opacity = "0";
    setTimeout(function () { successMessage.style.display = "none"; }, 500);
    }

    if (errorMessage) {
    errorMessage.style.transition = "opacity 0.5s";
    errorMessage.style.opacity = "0";
    setTimeout(function () { errorMessage.style.display = "none"; }, 500);
    }
    }, 5000);
</script>
<div class="profile">
    <div class="row">
        <div class="col-md-8">
            <div class="user-pro-section">
                <!-- profile-details -->
                <form method="post" enctype="multipart/form-data" id="simple-form" role="form">
                    <div class="profile-details section">
                        <h2>جزییات پروفایل</h2>

                        <!-- form -->

                        <input asp-for="UserUpdateModel!.Id" type="hidden">
                        <input asp-for="UserUpdateModel!.Email" type="hidden">
                        <input asp-for="UserUpdateModel!.Balance" type="hidden">
                        <input asp-for="UserUpdateModel!.Mobile" type="hidden">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="UserUpdateModel!.Fname"
                            type="text"
                            class="form-control" />
                            <div class="error-message text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Fname"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>نام خانوادگی</label>
                            <input type="text"
                            asp-for="UserUpdateModel!.Lname"
                            class="form-control" />
                            <div class="error-message text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Lname"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>ایمیل</label>
                            <input asp-for="UserUpdateModel!.Email"
                            type="email"
                            class="form-control"
                            disabled />
                        </div>

                        <div class="form-group">
                            <label>موبایل</label>
                            <input type="text"
                            asp-for="UserUpdateModel!.Mobile"
                            class="form-control"
                            placeholder="@Model.UserUpdateModel!.Mobile" />
                            <div class="error-message text-danger">
                                <span asp-validation-for="UserUpdateModel!.Mobile"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> موجودی کیف پول (تومان)</label>
                            <input asp-for="UserUpdateModel!.Balance"
                            type="text"
                            class="form-control"
                            disabled />
                        </div>
                        @if (User.IsInRole("Customer"))
                        {
                            <div class="form-group">
                                <label>شارژ کیف پول</label>
                                <select class="form-control" asp-for="UserUpdateModel!.Amount">
                                    <option value="1">انتخاب کنید</option>
                                    <option value="100000">100000 تومان</option>
                                    <option value="200000">200000 تومان</option>
                                    <option value="300000">300000 تومان</option>
                                    <option value="400000">400000 تومان</option>
                                </select>
                                <div class="text-danger small mt-1">
                                    <span asp-validation-for="UserUpdateModel!.Balance"></span>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("Expert"))
                        {
                            <div class="form-group">
                                <label class="mb-1">مهارت ها</label>
                                <select asp-for="SubServiceIds" id="skillsSelect" class="form-control" multiple="multiple">
                                    @foreach (var service in await _SubserviceAppService.GetAllForExpertPages(default))
                                    {
                                        <option value="@service.Id">@service.Title</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group">
                            <label>استان</label>
                            <select asp-for="UserUpdateModel!.CityId" class="form-control">
                                @foreach (var city in await _CityAppService.GetAll(default))
                                {
                                    <option value="@city.Id">@city.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">

                            <div class="input-group round">
                                <label>پروفایل</label>
                                <input asp-for="UserUpdateModel!.ImageFile" type="file" class="form-control ltr text-right" id="image-input">
                            </div>
                            <div id="image-error" class="error-message text-danger mt-1  ">
                                <span asp-validation-for="UserUpdateModel!.ImageFile"></span>
                            </div>
                        </div>

                    </div>

                    <!-- change-password -->
                    <div class="change-password section">
                        <h2>تغییر رمزعبور</h2>
                        <!-- form -->
                        <div class="form-group">
                            <label>رمزعبور قبلی</label>
                            <input asp-for="UserUpdateModel!.OldPassword" type="password" class="form-control">
                            <div class="text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.OldPassword"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>رمزعبور جدید</label>
                            <input asp-for="UserUpdateModel!.NewPassword" type="password" class="form-control">
                            <div class="text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.NewPassword"></span>
                            </div>
                        </div>


                    </div><!-- change-password -->

                    <button type="submit" class="btn btn-primary">به روز رسانی پروفایل</button>
                    @*    <a asp-page="/Users/Profile" class="btn cancle">انصراف</a> *@
                </form>
                <!-- profile-details -->


            </div>
            <!-- user-pro-edit -->
        </div>
        <!-- profile -->

        <div class="col-md-4 text-center">
            <div class="recommended-cta">
                <div class="cta">
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-secure">
                            <img src="~/UserTemplate/images/icon/13.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <!-- cta-icon -->

                        <h4>خدمات متنوع</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-support">
                            <img src="~/UserTemplate/images/icon/14.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <h4>امنیت</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>

                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-trading">
                            <img src="~/UserTemplate/images/icon/15.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <!-- cta-icon -->

                        <h4>کارشناسانی خبره</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                    <!-- single-cta -->
                </div>
            </div>
            <!-- cta -->
        </div>
        <!-- recommended-cta-->
    </div>
    <!-- row -->
</div>
@section Scripts
{
    <!-- ابتدا jQuery بارگذاری شود -->
    <script src="~/UserTemplate/js/jquery.min.js"></script>

    <!-- سپس Select2 بارگذاری شود -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- فعال‌سازی Select2 -->
    <script>
        $(document).ready(function () {
            $("#skillsSelect").select2({
                tags: false, // اجازه اضافه کردن موارد جدید را غیرفعال می‌کنیم
                multiple: true, // فعال کردن انتخاب چندگانه
                placeholder: "مهارت‌های خود را انتخاب کنید", // متن راهنما
                allowClear: true, // امکان حذف مهارت‌های انتخاب شده
                width: '100%', // تنظیم عرض به اندازه فیلد
                dropdownAutoWidth: true, // تنظیم عرض دراپ‌داون به محتوای داخل آن
                closeOnSelect: false // بستن دراپ‌داون پس از انتخاب یک گزینه غیرفعال می‌شود
            });
        });
    </script>

    <!-- بارگذاری Bootstrap (برای استایل‌دهی و عملکرد صحیح فرم‌ها) -->
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>

    <!-- اسکریپت‌های ضروری دیگر در صورت نیاز -->
    @* <script src="~/UserTemplate/js/popper.min.js"></script> *@
    @* <script src="~/UserTemplate/js/modernizr.min.js"></script> *@
    @* <script src="~/UserTemplate/js/custom.js"></script> *@
}
