@page
@using Framework
@model HomeService.Endpoint.Razor.Areas.Admin.Pages.Comments.GetByExpertModel
@{
}
<div class="portlet box shadow">

    <div class="buttons-box">
        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
            <i class="icon-size-fullscreen"></i>
        </a>
        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
            <i class="icon-arrow-up"></i>
        </a>
    </div><!-- /.buttons-box -->

    <div class="portlet-body">
        <div class="table-responsive">
            @*    <div id="data-table_filter" class="dataTables_filter"><label>جستجو: <input type="search" class="" placeholder="" aria-controls="data-table"></label></div>
                <br /> *@
            <table class="table table-bordered table-hover table-striped" id="data-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>کامنت </th>
                        <th> نام کارشناس</th>
                        <th> امتیاز کارشناس</th>
                        <th> تاریخ ثبت</th>
                       


                    </tr>
                </thead>
                <tbody>
                    @{
                        int j = 1;
                    }
                    @foreach (var item in Model.Comments)
                    {
                       
                        

                            <tr>
                                <td>@j</td>
                                <td>@item.Text</td>
                                <td>@item.ExpertLname</td>
                                <td>@item.Score</td>
                                <td>@item.CreateAt.ToPersianString("yyyy/MM/dd")</td>
                              

                            </tr>
                            j++;
                        
                    }
                </tbody>
            </table>
         
        </div>
    </div><!-- /.row -->
</div>